# Ignore virtual environments
venv/

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore environment files
.env

# Ignore compiled files
*.sqlite3

# Ignore OS-specific files
.DS_Store
Thumbs.db
